{% extends "charts/base.html" %}
{% load staticfiles %}

{% block extra_head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="{% static 'charts/js/charts_script.js' %}"></script>
{% endblock extra_head %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <select id="dropdownlist" class="form-control">
            <option value="0">-select Area-</option> 
        </select>
    </div>
</div>

<div id="container" style="min-width: 310px; height: 700px; margin: 0 auto"></div>
{% endblock content %}
